NODE_ENV=production

# Production
DB_USER = "postgres"
DB_PASSWORD = "matabugs"
DB_HOST = "database-1.cu9fywkmpxau.sa-east-1.rds.amazonaws.com"
DB_DATABASE = "halloffame"
DB_DIALECT = "postgres"
PORT = "3000"
CLIENT_URL=http://15.229.74.105:3000
